body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: beige;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.login-box img.avatar {
    width: 80px;
    margin-bottom: 20px;
}

.login-box h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 22px;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f2f2f2;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
}

.btn {
    width: 100%;
    background: #28a745;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #218838;
}

a {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    text-align: left;
}